#bod {
    font-family: 'Comfortaa', cursive;
    margin-left: 10px;
    margin-right: 10px;
    background-color: lightseagreen;
    color: white;
}

#h {
    color: white;
    font-size: 50px;
}

#b {
    margin-top: 10px;
    position: fixed;
    float: right;
    width: 300px;
    right: 0px;
    background-color: lightseagreen;
    padding: 20px;
    z-index: 2;
}

#p {
    margin-right: 40px;
    font-size: 20px;
}

#button-addon1 {
    color: white;
}

#button-addon1:hover {
    color: white;
    background-color: seagreen;
}

.buttons {
    margin-bottom: 30px;
}

.oldB {
    border-radius: 10%;
    background-color: seagreen;
    color: white;
}

.oldB:hover {
    color: darkslategrey;
    background-color: whitesmoke;
}

#add-10 {
    margin-top: 20px;
    margin-right: 30px;
    float: left;
}

.span {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    color: darkslategray;
    font-size: 14px;
}

.align {
    width: 100%;
}

#gifs {
    position: relative;
    display: block;
    width: 700px;
    left: 0;
}

.pic {
    max-height: 175px;
}

@media screen and (max-width: 640px) {

    #b {
        position: relative;
    }

    .span {
        display: block;
        float: left;
    }

    #gifs {
        width: 60%;
    }

}